@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Bitter', serif;
    background: rgb(86, 194, 144);
    background: linear-gradient(90deg, rgba(86, 194, 144, 1) 0%, rgba(171, 196, 102, 1) 35%, rgba(85, 155, 207, 1) 100%);
}

h1 {
    font-size: 6vw;
    margin-left: 32vw;
    margin-right: 30vw;
    cursor: pointer;
}

section {
    border: 3px solid black;
    width: 50vw;
    height: 40vh;
    margin: 50px auto;
    text-align: center;
    background: rgb(176, 221, 200);
    background: linear-gradient(90deg, rgba(176, 221, 200, 1) 0%, rgba(147, 207, 182, 1) 35%, rgba(148, 212, 148, 1) 100%);
    
}

#inp {
    width: 55%;
    margin: 20px 5px 10px 0px;
    text-align: center;
    height: 10%;
    border-radius: 5px;
    background: white;
    color: black;
}

.copy {
    text-align: center;
    margin-top: 20vh;
}

.btn {
    width: 32px;
    height: 10%;
    border-radius: 4px;
    background: black;
    color: aliceblue;
    font-size: 12px;
    cursor: pointer;
}
.btn:active{
    background: aliceblue;
    color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    width:100%;
    max-height:31.25vh;
    overflow-y:auto;
}
li{
    margin-bottom: 5px;
    cursor: pointer;
}